@import url(reset.css);

body{
    min-width: 1440px;
    background: #000;
}
 .container{
     width: 1440px;
     margin: 0 auto;
 }

 /*================================================ header ===============================================*/
 .logo img{
     float: left;
     margin: 20px 0 0 20px;
 }
.logo img:hover{
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}
.logo img:active{
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}
.header-spisak{
    display: flex;
}
.spisak{
    display: flex;
    margin-top: 20px;
}
.spisak li a{
    text-decoration: none;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
}
.spisak li{
    margin-left: 30px;
}
.spisak{
    margin-left: 780px;
}
.spisak li a:hover{
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}
.spisak li a:active{
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}
.en-ru a{
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 50px;
    color: #fff;
    font-weight: 700;
}
.en-ru a:hover{
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}
.en-ru a:active{
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}
.en-ru span{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 50px;
    font-weight: 700;
    color: #fff;
    margin: 0 9px 0 9px;
}
.en-ru{
    margin-left: 30px;
    margin-top: 20px;
}
@media screen and (max-width: 1000px){
    html, body{
        min-width: 1000px;
    }
    .container{
        width: 1000px;
        margin: 0 auto;
    }
    .spisak{
        margin-left: 300px;
    }
}